.whatsapp {
  width: 100px;
  height:50px;
}

.whatsappbutton {	
  border: none;
  background-color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}


.AutolistStyle{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
  cursor: pointer;
}

.AutolistStyle2{
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.autoCompleteUl1{
  list-style: none;
}

.autoCompleteUl1 li {
  margin-right: 170px;
  background-color: #4778ec;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 1s;
  padding:5px;
}

.autoCompleteUl1 li:hover {
  opacity: 1;
  cursor: pointer;
}



.ModalReq {
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: right;
  position: absolute;
  background-color: #d3f1ef;
  font-weight: bold;
  font-family: Calibri;
  font-size: 16px;
  flex-direction: column;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.Modal {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #d3f1ef;
  font-weight: bold;
  font-family: Calibri;
  font-size: 30px;
  flex-direction: column;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.Modal3 {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #d3f1ef;
  font-weight: bold;
  font-family: Calibri;
  font-size: 30px;
  flex-direction: column;
}

.Modal2{
display:flex;
justify-content: center;
align-items: center;
position: absolute;
background-color: #d3f1ef;
font-weight: bold;
font-family: Calibri;
font-size: 20px;
flex-direction: column;
top: 40px;
left: 40px;
right: 40px;
bottom: 40px;
}

.button {
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
  background-color: #30918c; 
  color: rgb(252, 247, 247); 
  border: 2px solid #1b3d3c;
  border-radius: 8px;
  
}

.buttonclose {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: #26f5ee;
  color: white;
  border: 2px solid #184947;
}



.box2{
  color: #2d504e;
  background-color: #d3f1ef;
  font-family: Calibri;
  font-size: 23px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
  position: relative;
  border-style: solid;
  width: 450px; 
  height: 300px;
  border-width:2px;
  background-image: linear-gradient( #dafffd, #00c0b677);
  transition-duration: 0.4s;
  padding: 10px;
  box-shadow: 5px 10px #888888;
} 

.box2:hover{
  color: #2d504e;
  background-color: #d3f1ef;
  font-family: Calibri;
  font-size: 25px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
  position: relative;
  border-style: solid;
  width: 500px; 
  height: 330px;
  border-width:3px;
  background-image: linear-gradient( #dafffd, #00c0b677);

  padding: 10px;
  box-shadow: 8px 15px #888888;
}

.box3{
  color: #2d504e;
  background-color: #d3f1ef;
  font-family: Calibri;
  font-size: 23px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
  position: relative;
  border-style: solid;
  width: 450px; 
  height: 300px;
  border-width:4px;
  background-image: linear-gradient( #dafffd, #00c0b677);

  transition-duration: 0.4s;
  padding: 10px;
  box-shadow: 8px 13px #888888;
}
.box3:hover{
  color: #2d504e;
  background-color: #d3f1ef;
  font-family: Calibri;
  font-size: 25px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
  position: relative;
  border-style: solid;
  width: 500px; 
  height: 330px;
  border-width:5px;
  background-image: linear-gradient( #dafffd, #00c0b677);
  padding: 10px;
  box-shadow: 10px 17px #888888;
} 

body {
  background-image: url('pic2.jpg');
  background-size: cover!important;
  background-position: top!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed;
}

.bodyAlert {
  background-color: #d3f1ef;
  font-weight: bold;
  font-family: Calibri;
}

img {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  width: 100px;
}


.Home{
  color: #2d504e;
  /* font-weight: bold; */
  font-family: Calibri;
  font-size: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.websiteTitle{
  font-size: 45px; 
  font-weight: bold;
}
.Top{
  background-color: #3c6e6c;
  color:#ddd;
  font-weight: bold;
  font-family: Calibri;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputclass{
  background: transparent;
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 250px;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
}

input[type=submit] {
  background: transparent;
  border: none;
  width: 300px;
  margin-left: 30px;
  margin-right: 5px;
}

input[type=text] {
  border-bottom:2px solid #1b3d3c;
  width: 150px;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 5px;
}

input[type=text]:focus {
  border: 0px solid #555;
  height: 23px;
  background-color: #72d8d554;
}


.custom-select {
  position: relative;
  font-family: Calibri;
  font-size: 22px;
}

.box-select {
  position: relative;
  font-family: Calibri;
  font-size: 16px;
  border: 1px solid #2d504e;
  background-color: transparent;
}


/* input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 100px;
  margin-left: 30px;
  margin-right: 5px;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 100px;
  margin-left: 30px;
  margin-right: 5px;
} */

.ContactInput{
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 130px;
  margin-left: 30px;
  margin-right: 5px;
}

/* input[type=text2] {
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 130px;
  margin-left: 30px;
  margin-right: 5px;
}

textarea[type=text2] {
  border: none;
  border-bottom: 1px solid #2d504e;
  width: 130px;
  margin-left: 30px;
  margin-right: 5px;
} */



/* .CourseNumber{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.CourseName{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
} */



.box{
  color: #2d504e;
  background-color: #d3f1ef;
  /* font-weight: bold; */
  font-family: Calibri;
  font-size: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
  position: relative;
  border-style: solid;
  width: 300px; 
  height: 200px;
  border-width:2px;
  border-color: #2d504e;
}

.login{
  color: #2d504e;
  font-family: Calibri;
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin: 10px; 
  border-radius: 8px;
}

.absolute {
  position: absolute;
  left: 100px;
  top: 150px;
}

table, th, td {
  border: 1px solid #2d504e;
  border-collapse: collapse;
  text-align: center;
}

th {
  font-size: 25px;
  color:#ddd;
  height: 70px;
  width: 163px;
  background-color:  #216968;
}

td {
  font-size: 20px;
  height: 20px;  
}

.iconlogout{
  font-size: 10px;
  width: 10px !important;
  height: 10px !important;
  margin-right: 5px;
  margin-left: 5px;
}

.abouttitle{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #1b3d3c;
}

.abouttext{
  text-align: end;
  font-size: 20px;
}

.goodlack{
  text-align: center;
  font-size: 25px;
}

/* .tablebutton {
  color: #60d4d2;
  font-size: 20px;
} */
input::placeholder {
  color: grey;
  font-size: 15px;
} 
@media only screen and (max-width: 1380px) {
  input[type=text] {
    width: 100px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1300px) {
  .websiteTitle{
    font-size: 38px;
  }
  .Home{
    font-size: 28px;
  }

}

@media only screen and (max-width: 1160px) {
  .autoCompleteUl1 li {
    margin-right: 130px;

  }

  
  .line{
    flex-direction: column;
  }
  .whatsapp{
    width:150px;
  }
  .box2{
    width:60%;
    /* font-size: 23px; */
  }
  .box2:hover{
    width:62%;
  }
  .box3{
    width:62%;
  }
  .box3:hover{
    width: 64%;
  }
  th{
    font-size: 22px;
    height: 60px;
    width: 140px;
  }
  td{
    font-size: 18px;
    height: 18px;
  }
  input[type=text] {
    width: 150px;
  }
  
}



@media only screen and (max-width: 1000px) {
  th{
    width: 100px;
  }
}

@media only screen and (max-width: 830px) {
  .img{
    width: 70px;
  }
  .Top{
    font-size: 25px;
  }
}

@media only screen and (max-width: 740px) {
  /* .Top{
    flex-direction: column;
  } */
  .websiteTitle{
    font-size: 35px;
  }
  .Home{
    font-size: 20px;
  }

  .button{
    font-size: 16px;
    padding: 10px 20px;
  }
  .custom-select {
    font-size: 18px;
  }
  input[type=text] {
    width: 100px;
    font-size: 16px;
  }
  .abouttitle{
    font-size: 23px;
  }
  
  .abouttext{
     font-size: 18px;
  }
  
  .goodlack{
    font-size: 20px;
  }
  .inputclass{
    width: 200px;
    font-size: 15px;
  }
  .buttonclose{
    font-size: 14px;
    padding: 3px 3px;
  }
  th{
    font-size: 20px;
    height: 50px;
    width: 80px;
  }
  td{
    font-size: 16px;
    height: 16px;
  } 
  .img{
    width: 60px;
  }
  .Top{
    font-size: 20px;
  }
  input::placeholder {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  th{
    font-size: 16px;
    height: 40px;
    width: 60px;
  }
  td{
    font-size: 12px;
    height: 15px;
  } 
  .buttonclose{
    font-size: 10px;
    padding: 3px 3px;
  }
}

@media only screen and (max-width: 575px) {

  .img{
    width: 50px;
  }
  .Top{
    font-size: 18px;
  }
  input[type=text] {
    width: 85px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 560px) {
  .box2{
    width:80%;
    font-size: 20px;
  }
  .box2:hover{
    width:82%;
    font-size: 20px;
  }
  .box3{
    width:82%;
    font-size: 20px;
  }
  .box3:hover{
    width:84%;
    font-size: 20px;
  }
  .websiteTitle{
    font-size: 30px;
  }
  .Home{
    font-size: 15px;
  }
  .button{
    font-size: 12px;
    padding: 8px 16px;
  }

  .custom-select {
    font-size: 13px;
  }
  /* input[type=text] {
    width: 50px;
    font-size: 12px;
  } */
  .abouttitle{
    font-size: 18px;
  }
  
  .abouttext{
     font-size: 15px;
  }
  
  .goodlack{
    font-size: 16px;
  }
  .inputclass{
    width: 150px;
    font-size: 10px;
  }
  input::placeholder {
    font-size: 6px;
  }
}
@media only screen and (max-width: 500px) {
  .img{
    width: 40px;
  }
  .Top{
    font-size: 15px;
  }
}



@media only screen and (max-width: 450px) {
  th{
    font-size: 14px;
    height: 40px;
    width: 50px;
  }
  td{
    font-size: 12px;
    height: 15px;
  } 

}

@media only screen and (max-width: 440px) {
  .img{
    width: 30px;
  }
  .Top{
    font-size: 12px;
  }
}

@media only screen and (max-width: 415px) {
  .box2{
    /* height: 400px; */
    font-size: 16px;
  }
  .box2:hover{
    /* height: 400px; */
    font-size: 16px;
  }
  .box3{
    /* height: 400px; */
    font-size: 16px;
  }
  .box3:hover{
    /* height: 400px; */
    font-size: 16px;
  }
  .websiteTitle{
    font-size: 22px;
  }
  .Home{
    font-size: 12px;
  }
  .abouttitle{
    font-size: 16px;
  }
  
  .abouttext{
     font-size: 12px;
  }
  
  .goodlack{
    font-size: 13px;
  }
  .button {
    padding: 6px 12px;
  }
  .buttonclose {
    font-size: 10px;
    padding: 2px 2px;
  }
  th{
    font-size: 12px;
    height: 40px;
    width: 40px;
  }
  td{
    font-size: 12px;
    height: 15px;
  }
  .custom-select {
    font-size: 11px;
  }
}

@media only screen and (max-width: 375px) {
  .img{
    width: 20px;
  }
  .Top{
    font-size: 10px;
  }
} 

@media only screen and (max-width: 350px) {
  th{
    font-size: 12px;
    height: 40px;
    width: 35px;
  }
  td{
    font-size: 10px;
    height: 15px;
  } 
  input[type=text] {
    width: 60px;
    font-size: 10px;
  }
}